<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- My own CSS -->
    <link rel="stylesheet" href="/stylesheets/home.css">
    <title>Yelpcamp</title>
</head>
<body>
    <!-- Header -->
    <div class="d-flex text-center bg-dark text-white">
        <div class="container d-flex flex-column">
            <header>
                <h1>Yelpcamp</h1>
                <p>For sharing campsites and experiences</p>
            </header>
        </div>
    </div>
    <!-- END: Header -->
    <!-- Three sections -->
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <a href="/campgrounds/new">
                    <h2 class="center">Add</h2>
                    <img src="/images/entrance_resized.jpg" class="Background-Sizing">
                    <!-- <img src="/images/entrance.jpg" id="centered"> -->
                </a>
            </div>
            <div class="col">
                <a href="/campgrounds">
                    <h2 class="center">Browse</h2>
                    <img src="/images/campfire_resized.jpg" class="Background-Sizing">
                    <!-- <img src="/images/campfire.jpg" id="centered"> -->
                </a>
            </div>
            <div class="col">
                <a href="/login">
                    <h2 class="center">Account</h2>
                    <img src="/images/hikers_resized.jpg" class="Background-Sizing">
                    <!-- <img src="/images/hikers.jpg" id="centered"> -->
                </a>
            </div>
        </div>
    </div>
    <!-- END: Three sections -->

    <!-- Popper plugin -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
        crossorigin="anonymous"></script>
    <!-- Boostrap: JS plugins -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
        crossorigin="anonymous"></script>
</body>
</html>