<% layout('layouts/boilerplate') %> 
<div class="row">
    <h1 class="text-center">New campground</h1>
    <div class="col-6 offset-3">
        <!-- 'novalidate' tells the browser not to validate, we coded it ourselves -->
        <form action="/campgrounds" method="post" novalidate class="validated-form" enctype="multipart/form-data">
            <div class="mb-3">
                <label class="form-label" for="title">Title</label>
                <input class="form-control" type="text" id="title" name="campground[title]" required>
            </div>
            <div class="mb-3">
               <label class="form-label" for="location">Location</label>
               <input class= "form-control" type="text" id="location" name="campground[location]" required>
            </div>
            <div class="mb-3">
                <div class="input-group">
                    <span class="input-group-text" id="price-label">$</span>
                    <input class="form-control" type="text" placeholder="0.00" name="campground[price]" aria-label="Amount (to the nearest dollar)" required>
                </div>
            </div>
            <!-- Image upload -->
            <div class="mb-3">
                <label for="formFileMultiple" class="form-label">Add photos</label>
                <input name="imageFromMulter" class="form-control" type="file" id="formFileMultiple" multiple>
            </div>
            <!-- END: Image upload -->
            <div class="mb-3">
               <label class="form-label" for="description">Description</label>
               <textarea class= "form-control" type="text" id="description" name="campground[description]" required></textarea>
            </div>
            <div class="mb-3">
                <button class="btn btn-success" type="submit">Create campground</button>
            </div>
        </form>
    </div>
</div> 
